.note {
    padding: 10px 20px 10px 20px;
}

html, body {
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
overflow-x: hidden;
}

h2 {
    text-align: center;
}

.mb-4 {
    padding: 20px;
}   

footer {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    min-width:100%;
    max-width:100%;
    height: auto;
    background-color: #252729;
    color: white;
    text-align: center;
}

.prtImg {
    max-height: 300px;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 20px 20px;
}

.d-lg-none {
    color: white;
    background-color: grey;
    height: 10px;
}

.d-lg-none:focus {
    outline: none;
}

h2 {
    display: inline;
}

#gitHubLogo {
    margin-left: 10px;
    margin-bottom: 15px;
    width: 40px;
}
